body {
    font-size: 18px;
    font-family: Tahoma;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
}

#fondo {
    background: url(../Imagenes/ballena1.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
}

.contenedorTitu {
    background: rgba(251, 251, 251, 0.3);
    color: #FFF;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    position: relative;
    top: 50px;
    width: 100%;
}


/* .menu2 {
    float: right;
    margin-top: 10px;
}

.menu2 a {
    position: relative;
    color: white;
    text-decoration: none;
    right: 10px;
}

.menu2 a:hover {
    background: rgb(14, 202, 213, 0.5);
} */

.ContenedorNav {
    width: 100%;
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Roboto Condensed', sans-serif;
}

#Cabeza {
    color: white;
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
    background: rgba(149, 164, 165, 0.5);
    padding: 5px;
}

#Cabeza h1 {
    float: left;
}

.menu {
    float: right;
    margin-top: 10px;
    display: block;
}

.menu li {
    list-style: none;
    float: left;
    margin: 5px;
}

.menu li ul {
    display: none;
    position: absolute;
}

.menu li:hover ul {
    display: block;
}

.menu li ul li {
    position: relative;
}

.menu li ul li ul {
    height: -145;
    top: 0px;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

.menu a:hover {
    background: rgb(251, 251, 251, 0.5);
}

.ContenedorNav {
    width: 100%;
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
}

#Principal {
    position: absolute;
    top: 75px;
    left: 30px;
    width: 68%;
}

#Publicidad {
    position: absolute;
    top: 110px;
    right: 30px;
    width: 25%;
    font-size: 14px;
    border-left: grey solid 1px;
    padding-left: 17px;
}

.link ul li {
    list-style: none;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer #copyright {
    font-weight: bold;
}